*{
    padding: 10;
    marging: 30px;  
}
body{
    background-color: ghostwhite;
}
.menu-navegacion{
    font-family:'Courier New', Courier, monospace;
    font-size: 15px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
    flex-wrap: nowrap;
    height: 100px;
    margin: 20px;
}
.menu-navegacion:hover{
    color:mediumspringgreen
}
.komissura.img{

}
