*{
    padding: 0;
    marging: 0;  
}
body{
    background-color: white;
}
.menu-navegacion{
    font-family:"Helvetica";
    font-size: 15px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
    flex-wrap: nowrap;
    height: 100px;
    margin: 20px;
}
.menu-navegacion:hover{
    color:rgb(9, 26, 19)
}
.komissura.img{

}
